:root {
    --mint-color: #10cab7;
    --sec-color: #2c4755;
    --section-padding: 60px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

/* hover logo */
.header .logo:hover {
    cursor: pointer;
}

.header .links {
    position: relative;

}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;


}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;

}

.header .links .icon:hover {
    cursor: pointer;
}

.header .links .icon span:first-child {

    width: 100%;

}

.header .links .icon span:nth-child(2) {
    width: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links .icon span:last-child {

    width: 100%;
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}

/* End header */
.header .links:hover ul {
    display: block;

}


.header .links ul::before {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;


}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;

}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #eee;
}

.landing {
    background-image: url(../imge/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--mint-color);
    animation-name: h1;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

}

@keyframes h1 {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        color: rgb(21, 128, 128);
    }

    100% {
        transition: all 0.5s;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }


}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;

}

/* <!-- Start Features/المميزات--> */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .container .feat i {
    color: var(--mint-color);
    font-size: 48px;
}

.features .container .feat p i {
    font-size: 20px;
    padding-left: 8px;
    animation-name: icon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes icon {
    0% {
        color: black;
        transform: translatex(-8px);
        -webkit-transform: translatex(-8px);
        -moz-transform: translatex(-8px);
        -ms-transform: translatex(-8px);
        -o-transform: translatex(-8px);
    }

    100% {
        color: var(--mint-color);
        transform: translatex(7px);
        -webkit-transform: translatex(7px);
        -moz-transform: translatex(7px);
        -ms-transform: translatex(7px);
        -o-transform: translatex(7px);
    }


}

.features .container .feat {
    cursor: pointer;
}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat h3 {
    font-weight: 800;
    margin: 25px 0;


}

.features .feat p {
    line-height: 1.7;
    font-size: 16px;
}

/* <!--End Features--> */

/* Start service */
.special-heading {
    color: rgb(211, 209, 209);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3;
    margin: 0;

}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px;
    }
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* End service */

/* <!-- Start Services --> */
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    padding-left: 9px;
    padding-bottom: 10px;
    font-size: 45px;
    color: var(--mint-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;

}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 400;
    line-height: 1.4;
    animation-name: p;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.services .services-content .srv .text p:hover {
    animation-play-state: paused;
    cursor: pointer;

}


@keyframes p {

    100% {
        color: var(--mint-color);
    }

}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: '';
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;

}

@media (max-width:1199px) {
    .image-column {
        display: none;

    }
}

/* <!-- End Services --> */

/* <!-- Start portfolio --> */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);


}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    width: 320px;
    height: 190px;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.portfolio .portfolio-content .card i {
    color: var(--mint-color);
    font-size: 25px;
    margin-bottom: 10px;
    animation-name: icon;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.portfolio .portfolio-content .card p:hover {
    transition: 0.2s;
    color: var(--mint-color);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}


@keyframes icon {
    0% {
        color: aquamarine;


    }

    50% {
        color: var(--sec-color);
    }

    100% {
        color: var(--mint-color)
    }
}

@media (max-width: 767px) {
    .portfolio .portfolio-content .card {

        flex-direction: column;
        text-align: center;
    }
}

/* <!-- End portfolio --> */

/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)+60px);
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -70px;
    left: 153px;
    z-index: -1;
}



.about .about-content .image::after {
    content: '';
    content: "";
    position: absolute;
    background-color: rgb(199, 198, 197);
    width: 100px;
    height: calc(100% + 80px);
    top: -70px;
    left: 130px;
    z-index: -2;

}

@media (max-width: 991px) {
    .about .about-content .image::after {
        /* display: none; */
        position: absolute;
        background-color: var(--mint-color);
        width: 100px;
        height: calc(100% + 80px);
        top: -70px;
        left: 15px;
        z-index: -2;
        opacity: 0.8;
    }

    .about .about-content .image::before {
        /* display:none; */
        content: "";
        position: absolute;
        background-color: var(--sec-color);
        width: 100px;
        height: calc(100% + 80px);
        top: -70px;
        left: 35px;
        z-index: -1;

    }

    .about .about-content .image img {

        display: block;

    }

}



.about .about-content .image img {
    top: -38px;
    right: -8px;
    height: 413px;
    width: 253px;
    position: relative;

}



.about .about-content .text {
    flex-basis: calc(100%-500px);

}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;

}


.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mint-color);
    animation-name: hr;
    animation-delay: 10s;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes hr {
    100% {
        width: 100%;
    }

}


.about .about-content .text p:last-of-type {

    line-height: 1;
    color: #777;
}

@media (max-width: 991px) {
    .about .about-content .text p {
        flex-direction: column;
        text-align: center;
        font-size: 20px;



    }
}

/* End About */

/* <!-- Start Contact --> */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: 2px;
    margin-bottom: 15px;

}

.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--mint-color);
    text-decoration: none;

}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--sec-color);

}

.contact .info .social i {
    margin-left: 15px;
    animation-duration: 5s;
    animation-name: ic;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes ic {
    50% {
        color: var(--mint-color)
    }

    100% {
        color: var(--sec-color)
    }

}


@media (max-width:767px) {

    .contact .info .link,
    .contact .info .label {
        font-size: 22px;

    }

    .special-heading+p {
        margin: -20px;
        font-size: 16px;
    }


}

/* <!-- End Contact --> */

/* Start footer */
.footer {
    background-color: var(--sec-color);
    color: #eee;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;

}

.footer span {
    font-weight: bold;
    color: var(--mint-color);
    cursor: pointer;

}

/* End footer */